.git
.github
.gitignore
.env
.venv
venv
__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
.coverage
htmlcov/
.tox/
.nox/
.hypothesis/
.pytest_cache/
*.egg-info/
.installed.cfg
*.egg
dist/
build/
*.log
.DS_Store
.idea/
.vscode/
docker-compose*.yml
Dockerfile*
image/ 