{% extends "base.html" %}


{% block content %}
<div class="flex p-2 h-dvh w-full">
    <div class="grow h-full w-1/5">
        <div class="container text-center">
            <h3>目录</h3>
        </div>
        <div class="container pt-2">
          <ul class="menu menu-sm bg-base-200 rounded-box">
            {% for toc in tocs %}
            <li>
              <a class="link link-hover"
                 hx-get="{% url 'text_by_toc' book_id=book_id name=toc.href %}"
                 hx-target="#src-text"
                 hx-trigger="click"
              >
            {{ toc.title }}
          </a>
        </li>
        {% endfor %}
            </ul>
        </div>
    </div>
    <div class="divider divider-horizontal"></div>
    <div class="grow h-full w-3/5">
        <div class="container text-center">
            <h3>内容</h3>
        </div>
        <div class="container pt-2" id="src-text">
        </div>
    </div>
    <div class="divider divider-horizontal"></div>
    <div class="grow h-full w-1/5">
        <div class="mt-4 border rounded-lg">
            <div class="container text-center">
                <h3>书籍信息</h3>
            </div>
            <div class="container">
              <div class="flex flex-row p-3 self-center">
                <div>
                  <label>书名:</label>
                  <span>
                    {{ title }}
                    </span>
                </div>
                </div>
            </div>
        </div>

        <div class="mt-4 border rounded-lg">
            <div class="container text-center">
                <h3>内容处理</h3>
            </div>
            <div class="container">
                <div class="pt-3">
                    <button class="btn w-full self-center">排版内容</button>
                </div>
            </div>
        </div>

        <div class="mt-4 border rounded-lg">
            <div class="container text-center">
                <h3>音频处理</h3>
            </div>
            <div class="container">
              <div class="pt-3">
                <select class="select w-full max-w-xs">
                  <option disabled selected>TTS 供应商</option>
                  <option>azure</option>
                  <option>edge-tts</option>
                </select>
              </div>
              <div class="pt-3">
                <select class="select w-full max-w-xs">
                  <option disabled selected>语音模型</option>
                  <option>Homer</option>
                  <option>Marge</option>
                  <option>Bart</option>
                  <option>Lisa</option>
                  <option>Maggie</option>
                </select>
              </div>
              <div class="pt-3">
                <button class="btn w-full self-center">合成音频</button>
              </div>
              <div class="pt-3">
                <button class="btn w-full self-center">下载音频</button>
              </div>
              <div class="pt-3">
                <button class="btn w-full self-center">发布</button>
              </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
