{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Book2TTS</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% tailwind_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'pages-component.css' %}">
    <script src="{% static 'htmx.min.js' %}" defer></script>
    <script src="{% static 'sse.js' %}" defer></script>
    <script src="{% static 'pages-component.js' %}" defer></script>
    
    <!-- RSS 订阅链接 -->
    {% if user.is_authenticated and user.profile.rss_token %}
    <link rel="alternate" type="application/rss+xml" title="{{ user.username }}的Book2TTS音频" href="{% url 'token_audio_rss_feed' user.profile.rss_token %}" />
    {% endif %}
</head>

<body class="flex flex-col min-h-screen">
  <div class="navbar bg-base-100">
    <div class="navbar-start">
      <div class="dropdown">
        <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
               stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M4 6h16M4 12h8m-8 6h16" />
          </svg>
        </div>
        <ul tabindex="0"
            class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
          <li><a href="{% url 'index' %}">制作</a></li>
          <li>
            <a>有声书</a>
            <ul class="p-2">
              <li><a href="{% url 'aggregated_audio_segments' %}">成品</a></li>
              <li><a>队列</a></li>
            </ul>
          </li>
          <li><a href="{% url 'my_upload' %}">我的上传</a></li>
        </ul>
      </div>
      <a class="btn btn-ghost text-xl" href="/">Book2TTS</a>
    </div>
    <div class="navbar-center hidden lg:flex">
      <ul class="menu menu-horizontal px-1">
        <li><a href="{% url 'index' %}">制作</a></li>
        <li>
          <details>
            <summary>有声书</summary>
            <ul class="p-2">
              <li><a href="{% url 'aggregated_audio_segments' %}">成品</a></li>
              <li><a>队列</a></li>
            </ul>
          </details>
        </li>
        <li><a href="{% url 'my_upload' %}">我的上传</a></li>
      </ul>
    </div>
    <div class="navbar-end">
      <div class="dropdown dropdown-end">
        <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
          <div class="w-10 rounded-full">
            {% if user.is_authenticated %}
            <div class="bg-primary text-primary-content flex items-center justify-center h-full w-full">
              <span class="text-lg font-bold">{{ user.username|slice:":2"|upper }}</span>
            </div>
            {% else %}
            <div class="bg-gray-300 text-gray-600 flex items-center justify-center h-full w-full">
              <span class="text-lg font-bold">?</span>
            </div>
            {% endif %}
          </div>
        </div>
        <ul tabindex="0"
            class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
          {% if user.is_authenticated %}
          <li>
            <a class="justify-between">
              个人资料
              <span class="badge">{{ user.username }}</span>
            </a>
          </li>
          <li><a>设置</a></li>
          <li><a href="{% url 'logout' %}">登出</a></li>
          {% else %}
          <li><a href="{% url 'login' %}">登录</a></li>
          <li><a href="{% url 'register' %}">注册</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
  
  <main class="flex-grow mb-2">
    {% block content %}
    {% endblock %}
  </main>

  <footer class="footer footer-center text-base-content">
    <aside>
      <p>Copyright ©  - All right reserved by pingfury</p>
    </aside>
  </footer>
  
  {% block script %}
  {% endblock %}
</body>

</html>
